<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="Server" value="wolfsrudel"/>
	<add key="Vault" value="Vault"/>
	<add key="User" value="Administrator"/>
	<add key="Password" value=""/>
  </appSettings>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="log4net"
						  publicKeyToken="692fbea5521e1304"
						  culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-1.2.13.0"
						 newVersion="1.2.13.0"/>
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
  <startup>
	<supportedRuntime version="v4.0"
					  sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
