<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="Server" value="wolfsrudel"/>
	<add key="Vault" value="Vault"/>
	<add key="User" value="Administrator"/>
	<add key="Password" value=""/>
  </appSettings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
